<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Soup or Sandwich</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/@splidejs/splide?path=dist/splide.min.css">
</head>

<body>

  <nav>
    <ul>
      <li><a href="/auth/login">You have to login without a login button.</a></li>
      <li><a href="/auth/logout"> You can't logout either.</a></li>
    </ul>
  </nav>

  <div class="flex-column justify-space-around">

    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a id="link" href="/">Soup or Sandwich</a>
      </h1>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

  </div>

</body>

</html>