<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> name </th>
      <th scope="col"> score </th>
      {{!-- <th scope="col">{{facebook}}</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each user}}
    <tr>
      <th scope="row"> {{@index}}</th>
      <td>{{name}}</td>
      <td>{{highScore}}</td>
      
    </tr>
    {{/each}}

  </tbody>
</table>