
<p>This is highscore.handlebars</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> name </th>
      <th scope="col"> Your real, accurate IQ </th>
      {{!-- <th scope="col">{{facebook}}</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each score}}
    <tr>
      <th scope="row"> {{increment @index}}</th>
      <td>{{scoreName}}</td>
      <td>{{score}}</td>
      
    </tr>
    {{/each}}

  </tbody>
</table>

{{!-- <script src="/js/highscore.js"></script> --}}