
<h3>Good luck finding your score 😈</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> name </th>
      <th scope="col"> Your real, accurate IQ </th>
      {{!-- <th scope="col">{{facebook}}</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each score}}
    <tr>
      <th scope="row"> {{increment @index}}</th>
      <td>{{scoreName}}</td>
      <td>{{score}}</td>
      
    </tr>
    {{/each}}

  </tbody>
</table>


<button class="elevator-button">Take the elevator</button>

<script src="/js/elevator.js"></script>
<script>
  window.onload = function() {
  var elevator = new Elevator({
    element: document.querySelector('.elevator-button'),
    mainAudio: '/assets/demo_music_elevator.mp3',
    endAudio: '/assets/demo_music_ding.mp3'
  });
  var button = document.querySelector('.elevator-button');
  button.addEventListener('click', function () {
    elevator.elevate();
  });
  }
</script>

<script src="/js/highscore.js"></script>

