<p>This is joke.handlebars</p>
{{!-- hahahahaaa joke! click this button --}}


{{! button disapears }}

{{! okay okay no joke }}

{{! button leads to /login }}

{{!-- <div class="menu-container">
  <div class="card-header col-md-10">
    <h2>hi Bill</h2>
  </div>
  <!-- For each dish in the array of dish objects, the following <div> will be rendered. -->
  {{#each photo as |photo|}}
    <div class="dish col-md-5">
      <!-- We use dish.id instead of <od> and <li> elements. -->
    <p> {{photo.id}} </p>
    <p>{{photo.type}}</p>
    <img src={{photo.image}} alt="cloudinary image">
    </div>
  {{/each}}

  <span id="my-template"></span>
</div> --}}

<div class="game-container">
    <div class="col-md-4">
      <button type="button" class="btn btn-primary" id="start-button">
       <img src="https://res.cloudinary.com/dijep6dqz/image/upload/v1673890632/sample.jpg"
       style="width: 200px; height: 250px;">
       </button>
    </div>
    <div class="col-md-4"></div>
    <button type="button" class="btn btn-primary" id="button"></button>
    <div class="col-md-4"></div>
  </div>

    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>

    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>

<script type="text/javascript" src="/js/joke.js"></script>