<p>This is login.handlebars</p>
<div class="row">

  <div class="col-md-6">

  <div class="col-md-2">div1
    <div class="splide" role="group" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          <li class="splide__slide">Slide 01</li>
          <li class="splide__slide">Slide 02</li>
          <li class="splide__slide">Slide 03</li>
        </ul>
      </div>
    </div>

  </div>

  <div class="col-md-6">
    <h2>Log in or Sign up</h2>
        <a class="google-btn" href="/auth/google">Google+</a>
  </div>